<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel='stylesheet' href='/stylesheets/landingStyle.css'/>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

        <!--Analytics-->
        <script src='/javascripts/analytics.js'></script>
    </head>

    <body>
        <!--Navigation bar-->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class = "container-fluid">
                <div class = "navbar-header">

                    <button type = "button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                        <!--"Screen Readers Only" sr-only-->
                        <span class = "sr-only">Toggle Navigation</span>
                        <span class = "icon-bar"></span>
                        <span class = "icon-bar"></span>
                        <span class = "icon-bar"></span>
                    </button>
                    <!--No Implementation of navbar-brand & page-scroll-->
                    <a class = "navbar-brand page-scroll" href="/">Enqué</a>
                </div>
                <!-- No Implementation of page-scroll-->
                <div class = "collapse navbar-collapse" id="navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right navbar-landing-padding">
                        <li>
                            <!--<button type = "button" class = "btn btn-default navbar-btn">Navbar Button</button>-->
                            <a href="/login" class="page-scroll" style="color: #ffae00;">Log In</a>
                            <!--<a href="/login" class="btn custom-button page-scroll navbar-btn" id="login-btn-navbar">Log In</a>-->
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <header>
            <div class="header-content col-xs-4">
                <h2 class="regTitleColor">Create an Account</h2>
                <form  method="post" action="" enctype="application/x-www-form-urlencoded">
                    <input class="regis centerForm" type="text" name="companyName" value="{{ companyName }}" placeholder="COMPANY NAME" required>
                    <input class="regis centerForm" type="text" name="fname" value="{{ fname }}" placeholder="FIRST NAME" required>
                    <input class="regis centerForm" type="text" name="lname" value="{{ lname }}" placeholder="LAST NAME" required>
                    <input class="regis centerForm" type="email" name="email" value="{{ email }}" placeholder="EMAIL" required>
                    <input class="regis centerForm" type="tel" name="phone" value="{{ phone }}" placeholder="PHONE NUMBER" required>
                    <input class="regis centerForm" type="password" name="password" value="{{ password }}" placeholder="PASSWORD" required>
                    <input class="btn btn-primary btn-x2 page-scroll sign1Btn" name="submit" type="submit" onclick="sign1Click()" value="Sign Up">
                </form>
            </div>
        </header>
        <footer class = "text-center navbar-fixed-bottom">
            <div class="footer-below">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            Copyright &copy; Team Fubar, CSE 112 Winter 2016. All Rights Reserved.
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div><body onload="registerview()"></body></div>
        <!--{{> googleAnalytics}}-->
    </body>

</html>
